 </main>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container">
                        
                        <div class="row align-items-center">
                            <div class="col-md-6 small">We are not affiliated with Aave, we write articles about the Aave Cryptomonaie Protocol to help people understand how it works.</div>
                            <div class="col-md-6 text-md-right small">
                               
                                 <a href="/blog/">Blog</a>
                                &middot;
                                <a href="/about.html">About</a>
                                &middot;
                                <a href="/contact.html">Contact</a>
                                 <a href="/terms-conditions.html">Terms &amp; Conditions</a>
                                &middot;
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/assets/js/scripts.js"></script>
    </body>
</html>
