{% include "Header/Header.twig" %}

 <section class="py-2">
                        <div class="container">
                            <h1 class="mb-2">Who are we ?</h1>
                            <p>We are a team of cryptocurrency passionates who have decided to dedicate to Defi (Decentralized Finance) and create content about it.<br>
Our goal is to make people aware of the opportunities Defi brings and how it shapes the world of digital assets, and how it will in the future.<br>
Through our articles, we try to make simple to understand all the complex details of Defi and finance in general.<br>
We also bring a tool to buy these assets directly on our website through the module on our mainpage.<br>
To summarize, we intend to make Defi understandable to newcomers and help them get into it with the easiest and fastest solutions we can bring.<br>
<br>
The Aave.org team.</p>
                         

                        
                            
                        </div>
                        
                 
                     
                      
                    </section>

{% include "Footer/Footer.twig" %}